### Importando as bibliotecas sqlite e pandas

In [3]:
import sqlite3 as db
import pandas as pd
from calendar import monthrange
from random import randint

### Criando a conexão e o cursor

In [5]:
conn = db.connect('susy.db')
cursor = conn.cursor()

### Criando a tabela Cliente

In [6]:
create_cliente_table = '''
    CREATE TABLE IF NOT EXISTS Cliente (
        ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        Nome_Cliente TEXT NOT NULL,
        Telefone_Cliente TEXT NOT NULL,
        Email_Cliente TEXT NOT NULL
    )
'''
cursor.execute(create_cliente_table)

### Criando a tabela Funcionario

In [7]:
create_funcionario_table = '''
    CREATE TABLE IF NOT EXISTS Funcionario (
        ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        Nome_Func TEXT NOT NULL,
        Telefone_Func TEXT NOT NULL,
        Email_Func TEXT NOT NULL
    )
'''
cursor.execute(create_funcionario_table)

### Criando a tabela Servico

In [8]:
create_servico_table = '''
    CREATE TABLE IF NOT EXISTS Servico (
        ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        Nome_Servico TEXT NOT NULL,
        Preco_Servico REAL NOT NULL
    )
'''
cursor.execute(create_servico_table)

### Criando a tabela Atendimentos

In [9]:
create_atendimentos_table = '''
    CREATE TABLE IF NOT EXISTS Atendimentos (
        ID_Atendimento INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        ID_Cliente INTEGER NOT NULL,
        ID_Funcionario INTEGER NOT NULL,
        ID_Servico INTEGER NOT NULL,
        Data TEXT NOT NULL,
        Hora TEXT NOT NULL,
        FOREIGN KEY (ID_Cliente) REFERENCES Cliente(ID),
        FOREIGN KEY (ID_Funcionario) REFERENCES Funcionario(ID),
        FOREIGN KEY (ID_Servico) REFERENCES Servico(ID)
    )
'''
cursor.execute(create_atendimentos_table)

### Inserindo dados na tabela Cliente

In [10]:
clientes = [
    ('Ana Paula Rocha', '(81) 98763-2211', 'anapaula.rocha@gmail.com'),
    ('Mariana Oliveira', '(81) 99977-4433', 'mariana.oliveira@hotmail.com'),
    ('Carla Santos', '(81) 98866-3322', 'carla.santos@outlook.com'),
    ('Juliana Lima', '(81) 99123-4567', 'juliana.lima@yahoo.com'),
    ('Fernanda Martins', '(81) 99654-3322', 'fernandamartins21@gmail.com'),
    ('Aline Costa', '(81) 99456-1234', 'alinecosta23@hotmail.com'),
    ('Bianca Rodrigues', '(81) 98876-2211', 'biancarodrigues34@gmail.com'),
    ('Camila Oliveira', '(81) 99987-5544', 'camila.oliveira89@hotmail.com'),
    ('Denise Castro', '(81) 99776-0099', 'denisecastrolima@yahoo.com'),
    ('Elaine Souza', '(81) 99234-5678', 'elaine.souza76@gmail.com'),
    ('Fátima Pereira', '(81) 98899-9988', 'fatimapereira90@yahoo.com'),
    ('Gabriela Alves', '(81) 99432-2211', 'gabrielaalves12@outlook.com'),
    ('Heloisa Santos', '(81) 99676-5544', 'heloisa.santos45@gmail.com'),
    ('Isabela Silva', '(81) 99123-4567', 'isabelasilva22@yahoo.com'),
    ('Julia Castro', '(81) 99999-1122', 'juliacastro10@hotmail.com'),
    ('Karina Costa', '(81) 99222-4433', 'karinacosta7@outlook.com'),
    ('Leticia Lima', '(81) 98765-9988', 'leticialima18@yahoo.com'),
    ('Marta Martins', '(81) 98888-6655', 'martamartins67@gmail.com'),
    ('Natalia Pereira', '(81) 99777-3344', 'nataliapereira33@hotmail.com'),
    ('Olivia Gomes', '(81) 99444-5678', 'oliviagomes98@yahoo.com'),
    ('Paula Souza', '(81) 99123-1234', 'paulasouza87@gmail.com'),
    ('Rafaela Lima', '(81) 99876-5432', 'rafaelalima55@hotmail.com'),
    ('Sandra Santos', '(81) 99654-8877', 'sandrasantos89@outlook.com'),
    ('Tatiana Oliveira', '(81) 99456-0099', 'tatiana.oliveira78@yahoo.com'),
    ('Vivian Castro', '(81) 98876-3322', 'viviancastro56@gmail.com')
]

insert_cliente_query = '''
    INSERT INTO Cliente (Nome_Cliente, Telefone_Cliente, Email_Cliente)
    VALUES (?, ?, ?)
'''

cursor.executemany(insert_cliente_query, clientes)

### Inserindo dados na tabela Funcionario

In [11]:
funcionarios = [
    ('Susy Kelly', '(81) 98765-4321', 'susykelly1@gmail.com'),
    ('Camilla Kelly', '(81) 99876-5432', 'camillakelly3@hotmail.com'),
    ('Paula Santos', '(81) 99654-3210', 'paula.santos10@outlook.com')
]

insert_funcionario_query = '''
    INSERT INTO Funcionario (Nome_Func, Telefone_Func, Email_Func)
    VALUES (?, ?, ?)
'''

cursor.executemany(insert_funcionario_query, funcionarios)

### Inserindo dados na tabela Servico

In [12]:
servicos = [
    ('Corte de Cabelo Curto', 50.00),
    ('Corte de Cabelo Médio', 55.00),
    ('Corte de Cabelo Longo', 60.00),
    ('Corte de Franja', 25.00),
    ('Escova Modelada', 70.00),
    ('Escova Progressiva', 120.00),
    ('Progressiva Sem Formol', 150.00),
    ('Coloração de Cabelo', 80.00),
    ('Hidratação Capilar', 50.00),
    ('Relaxamento de Cabelo', 100.00),
    ('Cauterização Capilar', 110.00),
    ('Selagem Capilar', 100.00),
    ('Penteado para Eventos', 80.00),
    ('Mechas', 120.00),
    ('Botox Capilar', 120.00),
    ('Luzes', 110.00)
]

insert_servico_query = '''
    INSERT INTO Servico (Nome_Servico, Preco_Servico)
    VALUES (?, ?)
'''

cursor.executemany(insert_servico_query, servicos)

### Inserindo dados na tabela Atendimentos

In [13]:
atendimento_values = []
for month in range(1, 6):
    num_days = monthrange(2023, month)[1]
    
    for _ in range(15):
        id_cliente = randint(1, 25)
        id_funcionario = randint(1, 3)
        id_servico = randint(1, 16)
        day = randint(1, num_days)
        hora = f'{randint(9, 20):02d}:00:00'
        data = f'2023-{month:02d}-{day:02d}'
        atendimento_values.append((id_cliente, id_funcionario, id_servico, data, hora))

insert_atendimento_query = '''
    INSERT INTO Atendimentos (ID_Cliente, ID_Funcionario, ID_Servico, Data, Hora)
    VALUES (?, ?, ?, ?, ?)
'''

cursor.executemany(insert_atendimento_query, atendimento_values)

### Comitando e fechando a conexão

In [14]:
conn.commit()
conn.close()

### Query para consultar os Atendimentos realizados por Susy no mês de março

In [ ]:
conn = db.connect('susy.db')

query_atendimentosSusy_mar = '''
    SELECT 
        Atendimentos.ID_Atendimento AS "ID Atendimento",
        Cliente.Nome_Cliente AS "Nome do Cliente",
        Funcionario.Nome_Func AS "Nome do Funcionário",
        Servico.Nome_Servico AS "Nome do Serviço",
        Servico.Preco_Servico AS "Preço do Serviço"
    FROM Atendimentos
        INNER JOIN Funcionario ON Atendimentos.ID_Funcionario = Funcionario.ID
        INNER JOIN Servico ON Atendimentos.ID_Servico = Servico.ID
        INNER JOIN Cliente ON Atendimentos.ID_Cliente = Cliente.ID
        WHERE Funcionario.Nome_Func = 'Susy Kelly' AND strftime('%m', Atendimentos.Data) = '03'
'''

df_atendimentosSusy_mar = pd.read_sql_query(query_atendimentosSusy_mar, conn)

conn.close()

df_atendimentosSusy_mar

### Query para consultar a Qtde de Atendimentos + Lucro Obtido por Susy no mês de maio

In [ ]:
conn = db.connect('susy.db')

query_lucroSusy_maio = '''
SELECT
    strftime('%m', Atendimentos.Data) AS 'Mês',
    COUNT(*) AS 'Qtde de Atendimentos',
    SUM(Servico.Preco_Servico) AS 'Lucro Obtido',
    Funcionario.Nome_func AS 'Funcionário'
FROM Atendimentos
    INNER JOIN Funcionario ON Atendimentos.ID_Funcionario = Funcionario.ID
    INNER JOIN Servico ON Atendimentos.ID_Servico = Servico.ID
    WHERE Funcionario.Nome_Func = 'Susy Kelly' AND strftime('%m', Atendimentos.Data) = '05'
    GROUP BY strftime('%m', Atendimentos.Data)
'''

df_lucroSusy_maio = pd.read_sql_query(query_lucroSusy_maio, conn)

conn.close()

df_lucroSusy_maio